<!-- <li class="dropdown"> -->
    <a href="#" class="dropdown-toggle header-button" data-toggle="dropdown" data-thisid=30>Categories<b class="caret"></b></a>
    <ul class="dropdown-menu" id="falcon">
        <li>
            <div class="row" style="width: 60em;">
                <ul class="list-unstyled col-md-3">
                    <li><a data-id= 1 class = "category-selector" href="#">Agriculture</a></li>
                    <li><a data-id= 2 class = "category-selector" href="#">Architecture</a></li>
                    <li><a data-id= 3 class = "category-selector" href="#">Biological and Biomedical Sciences</a></li>
                    <li><a data-id= 4 class = "category-selector" href="#">Business</a></li>
                    <li><a data-id= 5 class = "category-selector" href="#">Communications and Journalism</a></li>
                </ul>
                <ul class="list-unstyled col-md-3">
                    <li><a data-id= 6 class = "category-selector" href="#">Computer Sciences</a></li>
                    <li><a data-id= 7 class = "category-selector" href="#">Culinary Arts'</a></li>
                    <li><a data-id= 8 class = "category-selector" href="#">Education</a></li>
                    <li><a data-id= 9 class = "category-selector" href="#">Engineering</a></li>
                    <li><a data-id= 10 class = "category-selector" href="#">Legal</a></li>
                </ul>
                <ul class="list-unstyled col-md-3">
                    <li><a data-id= 11 class = "category-selector" href="#">Liberal Arts and Humanities</a></li>
                    <li><a data-id= 12 class = "category-selector" href="#">Mechanic and Repair Technologies</a></li>
                    <li><a data-id= 13 class = "category-selector" href="#">Medical and Health Professions</a></li>
                    <li><a data-id= 14 class = "category-selector" href="#">Physical Sciences</a></li>
                    <li><a data-id= 15 class = "category-selector" href="#">Project Management</a></li>
                </ul>
                <ul class="list-unstyled col-md-3">
                    <li><a data-id= 16 class = "category-selector" href="#">Psychology</a></li>
                    <li><a data-id= 17 class = "category-selector" href="#">Transportation and Distribution</a></li>
                    <li><a data-id= 18 class = "category-selector" href="#">Visual and Performing Arts</a></li>
                    <li><a data-id= 19 class = "category-selector" href="#">Environmental Sciences</a></li>
                    <li><a data-id= 20 class = "category-selector" href="#">Other</a></li>
                </ul>
            </div>
        </li>
    </ul>
<!-- </li> -->
