<form method = "POST" action = "/resources/" name = "resource_details" onsubmit="return validateForm()">
<div class="form-group row">
  <label for="resource-input" class="col-2 col-form-label">Title</label>
  <div class="col-10">
    <input name="title" class="form-control" type="text" value="<%=title%>" id="example-text-input">
  </div>
</div>

<div class="form-group row">
  <label for="resource-input" class="col-2 col-form-label">Resource URL</label>
  <div class="col-10">
    <input name="url" class="form-control" type="text" value="<%=url%>" id="example-text-input">
  </div>
</div>

<div class="form-group row">
  <label for="resource-input" class="col-2 col-form-label">Image URL</label>
  <div class="col-10">
    <input name="img_src" class="form-control imgSourceInput" type="text" value="http://kids.nationalgeographic.com/content/dam/kids/photos/animals/Mammals/Q-Z/sun-bear-tongue.jpg" id="example-text-input">
  </div>
</div>

<div class="form-group row">
  <label for="resource-input" class="col-2 col-form-label">Description</label>
  <div class="col-10">
    <input name="description" class="form-control" type="text" value="<%=description%>" id="example-text-input">
  </div>
</div>
<div class="form-group row">
  <div class="col-10 col-form-label">
    <label for="resource-input" class="col-2 col-form-label">Category</label>
    <select class="form-control" name="category">
        <option value="1">Agriculture</option>
        <option value="2">Architecture</option>
        <option value="3">Biological and Biomedical Sciences</option>
        <option value="4">Business</option>
        <option value="5">Communications and Journalism</option>
        <option value="6">Computer Sciences</option>
        <option value="7">Culinary Arts and Personal Services</option>
        <option value="8">Education</option>
        <option value="9">Engineering</option>
        <option value="10">Environmental Science</option>
        <option value="11">Legal</option>
        <option value="12">Liberal Arts and Humanities</option>
        <option value="13">Mechanic and Repair Technologies</option>
        <option value="14">Medical and Health Professions</option>
        <option value="15">Physical Sciences</option>
        <option value="16">Psychology</option>
        <option value="17">Project Management</option>
        <option value="18">Transportation and Distribution</option>
        <option value="19">Visual and Performing Arts</option>
        <option value="20">Other</option>
      <select>
  </div>
</div>
<br>
<input id="confirm-resource" class="btn btn-danger btn-lg btn-block" type="submit" value = "Submit">

</form>
