<% if (user) { %>
<div id="update-user-popup" class="update">
  <div class="usupdate">
    <h2>Update your info</h2>
    <a class="clo" href="#">×</a>
    <div class="up">
    <form method = "POST" action = "/users">
      <input name="name" type="text" value="<%=user.name%>"/>
      <input name="email" type="email" value="<%=user.email %>"/>
      <input id="update-user-btn" type="submit" value = "Submit">
    </form>
  </div>
</div>
<% } %>