<div id="confirmContentPopup" class="overlayConfirmContent">
  <div class="confirmContentPopup">
  <div class="col-12 text-center">
    <h3 id="confirm-instructions">Please enter your resource details, or confirm those we guessed for you. <br> <br>
    You can select an image from below to represent your resource.</h3>
  </div>
    <% include ../views/partials/_Resource_Form %>
  </div>
</div>
