<div id="confirmContentPopup" class="overlayConfirmContent">
  <div class="confirmContentPopup">
    <h3>Please confirm your resource details. You can select an image from below to represent your resource.</h3>
    <div class="stuff">
    <form method = "POST" action = "/resources/" name = "resource_details" onsubmit="return validateForm()">
      <br>
      <span class="submit-form-label"></span><span class="submit-form-label">Title:</span>
      <input class="resource-submit-input" name="title" type="text" value = "<%=title%>" /> <br>
      <span class="submit-form-label">URL:</span>
      <input class="resource-submit-input" name="url" type="text" value = "<%=url%>"/> <br>
      <span class="submit-form-label">Image source:</span>
      <input class="resource-submit-input imgSourceInput" name="img_src" type="text" value = "http://kids.nationalgeographic.com/content/dam/kids/photos/animals/Mammals/Q-Z/sun-bear-tongue.jpg"/> <br>
      <span class="submit-form-label">Description:</span>
      <input class="resource-submit-input" name="description" class="description_box" type="text" value = "<%=description%>"/> <br>
      <span class="submit-form-label">Category:</span>
      <select>
        <option value="Default">Default</option>
        <option value="Agriculture">Agriculture</option>
        <option value="Architecture">Architecture</option>
        <option value="Biological and Biomedical Sciences">Biological and Biomedical Sciences</option>
        <option value="Business">Business</option>
        <option value="Communications and Journalism">Communications and Journalism</option>
        <option value="Computer Sciences">Computer Sciences</option>
        <option value="Culinary Arts and Personal Services">Culinary Arts and Personal Services</option>
        <option value="Education">Education</option>
        <option value="Engineering">Engineering</option>
        <option value="Legal">Legal</option>
        <option value="Liberal Arts and Humanities">Liberal Arts and Humanities</option>
        <option value="Mechanic and Repair Technologies">Mechanic and Repair Technologies</option>
        <option value="Medical and Health Professions">Medical and Health Professions</option>
        <option value="Physical Sciences">Physical Sciences</option>
        <option value="Psychology">Psychology</option>
        <option value="Transportation and Distribution">Transportation and Distribution</option>
        <option value="Visual and Performing Arts">Visual and Performing Arts</option>
      <select> <br>
      <input id="confirm-resource" class="btn btn-danger btn-lg btn-block" type="submit" value = "Submit">

    </form>
  </div>
</div>
