<h1> This App
  </h1>
<form action="/" method="GET" role="search">
  <label for="search"></label>
  <input type="search" id="search" placeholder="search goes here!!" />
  </button>
</form>
<nav>
  <form action="getCategory" method="get">
  <label for="Nav">Icon</label>
  <select>
  <optgroup label="cat1">
    <option value="a">a</option>
    <option value="b">b</option>
    <option value="c">c</option>
  </optgroup>
  <optgroup label="cat2">
    <option value="a">a</option>
    <option value="b">b</option>
    <option value="c">c</option>
  </select>
</form>
  <ul>
  User
  notifications
  </ul>
</nav>
