<header>
  <h1> This App
  </h1>
<form action="/" method="GET" role="search">
  <label for="search">search:</label>
  <input type="search" id="search" placeholder="search goes here!!"/>
  <button id="navQButton" type="submit"><img class="mag" alt="Submit Search" src='https://maxcdn.icons8.com/windows8/PNG/512/Very_Basic/search-512.png'width="20px" height="20px">
</form>
<nav>
</nav>
</header>
