<h3 class = "section-header">Choose an image to represent your resource, or enter a source of your own.<h3>
<div id="maincontent">
  <div class="new">
  </div>
  <% for (source in img_sources) { %>
    <figure class="possible_img">
      <img src= <%= `${img_sources[source]}` %> >
      <form method='post' action="/resources" class="choose">
        <button class="choose-btn" value="select"></button>
      </form>
    </figure>

  <% } %>

</div>
