<div id="maincontent">
  <% sources.forEach(function(source) { %>
    <figure>
      <img src=`${source}`>
      <figcaption>to be figured out</figcaption>
      <form method='post' action="/resources" class="choose">
        <button class="choose-btn" value="select"></button> 
      </form>
    </figure>

  <% }) %>

</div>
