<div id="maincontent">
  <div class="new">
  </div>
  <% for (source in img_sources) { %>
    <figure class="possible_img">
      <img src= <%= `${img_sources[source]}` %> >
    </figure>

  <% } %>

</div>
