<div id="login-pop" class="overlay">
  <div class="popup">
    <h2>Login</h2>
    <a class="close" href="#">×</a>
    <div class="content">
      <form action="/login" method="POST" role="login" style="all: initial;">
        <label for="login"></label>
        <input type="email" name="email" placeholder="you@example.com"/>
        <input type="password" name="password" placeholder="Password"/>
        <button id="Go"type="submit">Go!</button>
      </form>
  </div>
</div>