<div id="newcontentpopup" class="overlaynewcontent">
  <div class="newcontentpopup">
    <h2>New Resource</h2>
    <a class="close" href="#">×</a>
    <div class="stuff">
    <form method = "POST" action = "/resources/new">
      <input name="url" type="text" placeholder="Gimme' some stuff!!"/>
      <input id="new-resource" type="submit" value = "Submit">
    </form>
  </div>
</div>
