<div id="newcontentpopup" class="overlaynewcontent">
  <div class="newcontentpopup">
    <h2>New Resource</h2>
    <a class="close" href="#">×</a>
    <div class="stuff">
    <form>
      <label for="yonk"></label>
      <input name="yonk" type="yonk" placeholder="Gimme' some stuff!!"/>
      <button id="new-resource" type="submit">Go!</button>
    </form>
  </div>
</div>
