<div id="popup1" class="overlay">
	<div class="popup">
		<h2>Register</h2>
		<a class="clo" href="#">×</a>
		<div class="content">
    <form action="/register" type="register" method="POST">
      <label for="register"></label>
      <input type="name" name="name" placeholder="Name"/>
      <input type="email" name="email" placeholder="E-mail"/>
      <input type="password" name="password" placeholder="Password"/>
      <button id="reg"type="submit">Go!</button>
    </form>
	</div>
</div>
