<!DOCTYPE html>
<html lang="en">

<head>
<% include ../views/_Head %>
</head>
<body>
  <header id="header">
  <% include ../views/_Header %>
  </header>
    <main>
    <h3>Here be text</h3>
  </main>
  </body>
</html>
