<!DOCTYPE html>
<html lang="en">

<head>
<% include ../views/_Head %>
</head>
<body>
  <header>
  <% include ../views/_Header %>
  </header>
    <main>
  <% include ../views/_Regpop %>
  </main>
  </body>
</html>
