<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <script type="text/javascript" src="/scripts/index_app.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
  </body>
</html>
