<!DOCTYPE html>
<html lang="en">
<head>
<% include ../views/_Head %>
</head>
<body>
  <header>
    <% include ../views/_Header %>
  </header>
    <div class="log">
    <% include ../views/_Logpop %>
    </div>
    <div class="new">
      <% include ../views/_Newpop %>
    </div>
    <div class="pop">
      <% include ../views/_Regpop %>
    </div>
  <main>
    <% include ../views/_MainContent %>
    <section class="container">

    </section>
  </main>
</body>
</html>
