<!-- Sandbox page to help with testing user functions. To be deleted
 -->
<!DOCTYPE html>
<html lang="en">
<head>
<% include ../views/_Head %>
  <script type="text/javascript" src="/scripts/index_app.js"></script>
</head>
<body>
  <header>
  <% include ../views/_Header %>
  </header>
    <main>
    <h3>Here be text</h3>
    <section class="container">
    </section>
  </main>
  <p>alskjdfnlwunflkJNLKRJNF;AJKJRNFALKWJFN</p>
  <form action="/register" method = "POST">
    <input type="text" name="name" placeholder="name"></input>
    <input type="text" name="email" placeholder="email"></input>
    <input type="text" name="password" placeholder="password"></input>
    <button type="Submit">Submit</button>
  </form>
  </body>
</html>