<!DOCTYPE html>
<html lang="en">
<head>
<% include ../views/_Head %>
  <script type="text/javascript" src="/scripts/index_app.js"></script>
</head>
<body>
  <header>
    <% include ../views/_Header %>
  </header>
    <div class="new">
      <% include ../views/_Newpop %>
    </div>
    <div class="pop">
      <% include ../views/_Regpop %>
    </div>
  <main>
  <div class"row">
    <div class="col-md-6 col-md-offset-4"> <button>My Submitted Resources</button> </div>
    <div class="col-md-6 col-md-offset-4"> <button>My Liked Resources</button> </div>
  </div>
    <% include ../views/partials/_UserContent %>
    <section class="container">

    </section>
  </main>
</body>
</html>
