<!DOCTYPE html>
<html lang="en">
<head>
<% include ../views/_Head %>
  <script type="text/javascript" src="/scripts/user_app.js"></script>
</head>
<body>
  <header>
    <% include ../views/_Header %>
  </header>
    <div class="new">
      <% include ../views/_Newpop %>
    </div>
    <div class="pop">
      <% include ../views/_Regpop %>
    </div>
  <main>
  <br>
  <div class"row">
  <button type="button" class="btn btn-primary btn-lg btn-block submitted-button">My Submitted Resources</button>
  <button type="button" class="btn btn-primary btn-lg btn-block liked-button">My Liked Resources</button>
  </div>
    <% include ../views/partials/_UserContent %>
    <section class="container">

    </section>
  </main>
</body>
</html>
