#confirm-resource {
    width: 80%;
    margin: auto;
}

#confirm-instructions {
  box-sizing: border-box;
}

.submit-form-label {
    font-size: 1.5em;
    padding: 1.5em;
}

.resource-submit-input {
    width: 80%;
    height: 1.5em;
    padding: 1em 1em;
    margin: auto;
    box-sizing: border-box;
}

.figure-clicked {
    box-shadow: 9px 11px 10px 0px rgba(111, 37, 37, 0.58);
    opacity: 1 !important;
}

.form-group {
    width: 80%;
    margin:auto;
}