.overlaynewcontent:target {
  visibility: visible;
  opacity: 1;
}
.overlaynewcontent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.newcontentpopup {
  background-color: #ef0000;
  margin: 120px auto;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.newcontentpopup h2 {
  margin-top: 0;
  color: white;
  font-family: Tahoma, Arial, sans-serif;
}
.newcontentpopup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.newcontentpopup .stuff {
  button {
    background-color: #333;
    border-color: black;
    color: white;
  }
  max-height: 30%;
  overflow: auto;
}
