@import 'comments';
@import 'ConfirmResource';
@import 'Header';
@import 'Icon';
@import 'Regpop';
@import 'Logpop';
@import 'Newpop';
@import 'MainContent';
@import 'UpdateUserPop';
@import 'User';
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

main {
  margin-top: auto;
  height: auto;
  background:url(../images/rice-paper.png);
}
body {
  color: black;
  background:url(../images/rice-paper.png);
}
